.page-home {
    h5{
        font-weight: 300px;
        margin-bottom: 15px;
    }

    .store-trend-categories{
        margin-top: 30px;
    }
    .store-trend-product{
        margin-top: 16px;
    }
}